@import "_bootstrap"
@import "fonts"

body
  overflow-x: hidden


// header
.logo
  font-family: "LatoHeavy"
  font-size: 30px
  & .logo_round
    display: block
    background-color: #11977d
    border-radius: 50%
    width: 30px
    height: 30px
    margin-top: 55px
  & .logo_text
    margin: -34px 48px
    & .logo_text_color
      color: #11977d


.nav
  width: 100%
  & ul
    display: inline-block
    list-style-type: none
    & li
      display: inline-block
      & a
        display: block
        margin: 3px
        font-family: "LatoRegular"
        font-size: 15px
        color: #777777
        text-transform: uppercase
        text-decoration: none

//section 2
.img
  width: 100%
  margin-top: 45px
  .img_block
    display: block
    margin-left: -1px
    width: 1921px
    height: 690px
    z-index: -1

.img_text
  margin-top: -413px
  z-index: 20
  color: #fff
  .img_text_1, .img_text_2
     font-family: "LatoHeavy"
     font-size: 37px
     line-height: 65px
  .img_text_2
     margin-left: 140px

//    section 3
.wrap_section_3
  background-color: #2d2d2d

.section_3_text
  margin-top: 90px
  .section_3_text_1
    font-family: "LatoRegular"
    font-size: 38px
    &::after
      content: ''
      display: block
      width: 340px
      height: 2px
      position: absolute
      top: 143px
      left: 70px
      background-color: #11977d
  .section_3_text_2
    margin-top: 31px
    font-family: "LatoRegular"
    font-size: 24px
    margin-left: 86px
    opacity: .9

.section_3_img
  margin-top: 95px
  margin-left: 95px
  .section_3_phone
    width: 796px
    height: 586px
    margin: -201px -178px
    position: relative
    z-index: -1
  .section_3_circle
    width: 238px
    height: 238px
    margin: -18px -25px

.section_3_bottom-text
  margin: -231px 0px
  .section_3_bottom-text_all
    font-family: "LatoRegular"
    font-size: 16px
    line-height: 29px
    text-align: justify

  .section_3_bottom-text_link
    display: block
    font-family: "LatoRegular"
    font-size: 24px
    margin: 72px 95px
    color: #11977d
    text-decoration: none
    &::after
      content: ''
      position: absolute
      top: 14px
      left: 114px
      width: 438px
      height: 2px
      background-color: #11977d


//    section 4
.wrap_section_4
  background-color: #2d2d2d
  margin-top: 90px
  position: relative
  z-index: -20
  .section_4_phone_black
    width: 841px
    height: 642px
    margin: 100px -273px
  .section_4_text
    margin: 91px 138px
    .section_4_text_1
      color: #fff
      font-family: "LatoRegular"
      font-size: 38px
      &::after
        content: ''
        position: absolute
        top: 149px
        right: 214px
        width: 340px
        height: 2px
        background-color: #11977d

    .section_4_text_2
      font-family: "LatoRegular"
      font-size: 24px
      margin-left: 86px
      opacity: .9
      color: #fff
      margin-top: 31px
.section_4_bottom-text
  margin-top: 40px

  .section_4_bottom-text_all
    text-align: justify
    color: #777777
    font-family: "LatoRegular"
    font-size: 16px
    opacity: .9

  .section_4_bottom-text_link
    display: block
    font-family: "LatoRegular"
    font-size: 24px
    margin: 72px 141px
    color: #11977d
    text-decoration: none
    &::before
      content: ''
      position: absolute
      bottom: 356px
      right: 160px
      width: 438px
      height: 2px
      background-color: #11977d

//section 5
.wrap_section_5
  margin-top: -250px
  background-color: #2d2d2d
  position: relative
  z-index: 20
  .section_5_text_block
    margin-top: 100px
    .section_5_text_inner
      text-align: center
      color: #fff
      font-family: "LatoRegular"
      font-size: 38px
      &::before
        content: ''
        position: absolute
        top: 150px
        left: 394px
        width: 340px
        height: 2px
        background-color: #11977d
  .first_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      cursor: pointer
      border: 1px solid #11977d
  .second_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      border: 1px solid #11977d
      cursor: pointer
  .third_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      border: 1px solid #11977d
      cursor: pointer

  .left_text
    font-family: "LatoBold"
    font-size: 26px
    color: #11977d
    margin: 25px 5px
    &::before
      content: ''
      position: absolute
      top: 310px
      left: 60px
      background-color: #11977d
      width: 65px
      height: 1px

//удалить
//section 5
.wrap_section_5
  margin-top: -250px
  background-color: #2d2d2d
  position: relative
  z-index: 20
  .section_5_text_block
    margin-top: 100px
    .section_5_text_inner
      text-align: center
      color: #fff
      font-family: "LatoRegular"
      font-size: 38px
      &::before
        content: ''
        position: absolute
        top: 150px
        left: 394px
        width: 340px
        height: 2px
        background-color: #11977d
  .first_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      cursor: pointer
      border: 1px solid #11977d
  .second_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      border: 1px solid #11977d
      cursor: pointer
  .third_img
    display: block
    margin-top: 70px
    &:hover
      width: 170px
      height: 170px
      border-radius: 50%
      border: 1px solid #11977d
      cursor: pointer

  .left_text
    font-family: "LatoBold"
    font-size: 26px
    color: #11977d
    margin: 25px 5px
    &::before
      content: ''
      position: absolute
      top: 310px
      left: 60px
      background-color: #11977d
      width: 65px
      height: 1px

    .left_text
      font-family: "LatoBold"
      font-size: 26px
      color: #11977d
      margin: 25px 5px
      &::before
        content: ''
        position: absolute
        top: 310px
        left: 60px
        background-color: #11977d
        width: 65px
        height: 1px








@import "libs"

  